/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* Universal CSS */
:root {
    --black: #232534;
    --blue: #2194f3;
    --white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.home-section {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: transparent;
    border-bottom: 1.5px solid #fbc02d;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 1rem 5rem;
    gap: 1rem;
    box-shadow: 1rem 0 1rem rgb(251, 192, 45, .4);

}

.home-header a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
}

.home-header a:hover {
    color: #2194f3;
}

.home-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.home-header nav ul li a {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
}

.home-header nav ul li:hover {
    color: #2194f3;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-login {
    background-color: var(--white);
    color: #232534;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.3rem;
    color: #232534;
    align-self: end;
}

.content {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.content h1 {
    color: #2194f3;
    font-size: 2.5rem;
    font-weight: 700;
}

.content p {
    max-width: 40rem;
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
}

.content .btn-start {
    padding: 0.5rem 1rem;
    background-color: var(--white);
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.3rem;
    color: var(--black);
    margin-top: 1rem;
}

.content button:hover,
.btn-login:hover {
    background: transparent;
    color: var(--white);
    outline: 2px solid var(--white);
}

.section-rules, .section-quiz{
    padding: 2rem;
    color: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Quiz Rules Condition */
.rules-container {
    backdrop-filter: calc(3px);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: rgba(35, 37, 52, .8);
    border: 1.5px solid #fbc02d;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(12px);
}

.rules-conditions p {
    font-weight: 300;
    font-size: 1rem;
    font-weight: 100;
}

.rules-conditions {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.condition-actions {
    display: flex;
    gap: 1rem;
}

.condition-actions .btn {
    padding: .6rem 1.5rem;
    background-color: var(--white);
    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
}

.condition-actions .btn:hover{
    background-color: transparent;
    backdrop-filter:calc(12px);
    color: var(--white);
    outline: 1.5px solid var(--white);

}

.rules-conditions p span{
    color: #2194f3;
    font-weight: 500;
}

.rules-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rules-title{
    font-size: 1.8rem;
    font-weight: 600;
}

/* Quiz Style */

.quiz-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #2194f3;
    border-radius: .8rem;

}

.quiz-header, .quiz-footer{
    width: 100%;
    background-color: #fbc02d;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem .8rem 0 0;
}

.score-box, .timer-box, .current-question{
    font-size: 1.3rem;
    font-weight: 300;
    color: #232534;
}

.quiz-qestion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#qestion{
    width: 100%;
    font-size: 1.3rem;
    background-color: #232534;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    font-weight: 500;
}

#option{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    text-align: left;
    color: #232534;
    font-size: 1rem;
    font-weight: 400;
}

#option::after{
    content: '💫';
}
#option:hover{
    background-color: rgb(35, 37, 52, 0.2);
    color: #fff;
}

.quiz-footer{
    border-radius: 0 0 .8rem .8rem; 
}

#next{
    padding: .5rem 1.5rem;
    background-color: #2194f3;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

#next:hover{
    outline: 2px solid #fff;
    color: #232534;
    background: transparent;
}